@charset "UTF-8";
/*BASE*/
body {
  color: #212121;
  font-family: "Roboto", sant-serif;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none; /* Убираем маркеры */
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*UTILS*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*LAYOUT*/
.logo {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.span {
  font-family: "Raleway", sant-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.span-web {
  color: #2196f2;
}

.span-studio {
  color: #000000;
}

.site-nav,
.auto-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-auto-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-nav-site:hover,
.link-nav-site:focus {
  color: #2196f2;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ececec;
  left: 0;
  bottom: -1px;
  background-size: contain;
}

.link-nav-site {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-site::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f2;
  left: 0;
  bottom: -1px;
  background-size: contain;
}

.link-nav-site.current::after {
  width: 100%;
}

.current {
  color: #2196f2;
}

.site-nav .header-site-nav + .header-site-nav {
  margin-left: 50px;
}

.link-nav-auto {
  color: #757575;
  margin-right: auto;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-tel-icons {
  margin-right: 10px;
  fill: currentColor;
}

.link-nav-auto:hover,
.link-nav-auto:focus {
  color: #2196f2;
}

.auto-nav:hover .auto-nav:focus {
  color: #2196f2;
}

.auto-nav .header-auto-nav + .header-auto-nav {
  margin-left: 50px;
}

.auto-nav {
  margin-left: auto;
  padding-left: 0;
  color: #000000;
}

.conteiner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header {
  position: relative;
}

.conteiner-item::after .current {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ececec;
  bottom: -1px;
  left: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px;
          box-shadow: 0px 2px 1px 0px;
  padding: 40px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 20px;
  line-height: calc 1.15;
  color: var(-- #212121);
  margin-bottom: 30px;
}

.form-modal {
  position: relative;
  margin-bottom: 20px;
  display: block;
  margin: 0;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  font-size: 12px;
  font-weight: 400px;
  color: #757575;
}

.form-modal-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 28px;
  cursor: pointer;
  position: relative;
}

.comment {
  resize: none;
  height: 120px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  padding-left: 16px;
}

.form-modal-line::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-line::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-line:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-line::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-line::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-svg {
  position: relative;
}

.svg-modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 12px;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  fill: #212121;
}

.check-mark-label {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.check-mark-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.check-mark-label .check-mark {
  fill: transparent;
}

.check-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #212121;
  margin-bottom: 30px;
}

.check-mark-label {
  font-weight: 400px;
  font-size: 14px;
  line-height: calc 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-mark input:checked + .check-mark-label .check-mark-span {
  fill: #ffffff;
}

.check-mark input:checked + .check-mark-label .check-mark-icon {
  background-color: #2196f2;
  border: none;
}

.contract {
  color: #2196f2;
  border-bottom: 1px solid #2196f2;
  letter-spacing: 0.03em;
  margin-left: 8px;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.form-modal-line:valid + .svg-modal-form,
.form-modal-line:focus {
  outline: #2196f2;
  border-color: #2196f2;
}

.form-modal-line:valid,
.form-modal-line:focus + .svg-modal-form {
  fill: #2196f2;
}

.comment:valid + .check-mark-span,
.comment:focus {
  outline: #2196f2;
  border-color: #2196f2;
}

.close-sing {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-modal {
  background-color: #2196f2;
  color: #ffffff;
  padding: 10px 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #2196f2;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4))), url("../../img/Img.png");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) rgba(47, 48, 58, 0.4)), url("../../img/Img.png");
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
}
.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  color: #f5f5f5;
}

.conteiner__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 94px 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  gap: 30px;
}

.prodact__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #f5f4f4;
  margin-bottom: 30px;
}
.prodact__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
}
.prodact__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.work {
  padding-top: 0;
}

.conteiner-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  gap: 30px;
}

.i-tem {
  width: calc((100% - 60px) / 3);
}

.conteiner-work .i-tem:nth-child(3n) {
  margin-right: 0;
}

.work-jpg {
  position: relative;
}

.dodatok {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  bottom: 0;
  min-height: 70px;
  min-width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title-work {
  margin-bottom: 0;
}

.team {
  background-color: #f5f4f4;
}

.team-item {
  text-align: center;
}

.title-list-team .team-item {
  width: calc((100% - 90px) / 4);
  margin-left: 0px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons.list {
  margin-top: 30px;
}

.social-icon {
  fill: #AFB1B8;
}

.social-link:hover .social-icon {
  fill: #ffffff;
}

.title-list-team .social-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link .link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-list-team .social-item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 50%;
}

.title-list-team .social-item:hover,
.title-list-team .social-item:focus {
  background-color: #2196f2;
}

.title-list-team .social-item:last-child {
  margin-right: 0;
}

.title-list-team .team-item:not(:last-child) {
  margin-right: 30px;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}

.title-list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

.title-name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.text-name-team {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-top: 10px;
}

.team-item {
  margin-left: 0;
  outline: 1px solid #f5f4f4;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients-baza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-baza {
  margin-right: 30px;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.client-baza:last-child {
  margin-right: 0;
}

.client-baza-icon {
  fill: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-baza:hover {
  fill: #2196f2;
  border-color: #2196f2;
}

.client-baza:hover .client-baza-svg {
  fill: #2196f2;
  border-color: #2196f2;
}

.footer-web .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-web {
  background-color: #2F303A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.span-studio-white {
  color: #ffffff;
}

.adress-i-tem {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
}

.adress-footer {
  font-style: normal;
  text-decoration: none;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 2094px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-footer-adress {
  color: #ffffff;
}

.adress-footer:hover,
.adress-footer:focus {
  color: #ffffff;
}

.i-tem-footer {
  margin-top: 9px;
}

.welcome {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.welcome-social-link.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.welcome-social-item:last-child .welcome-social-link {
  margin-right: 0;
}

.welcome-social-icon {
  fill: #f5f5f5;
  gap: 10px;
}

.welcome-social-link.link:hover,
.welcome-social-link.link:focus {
  fill: #ffffff;
  background-color: #2196f2;
}

.social-item {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.welcome-social-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.875;
  border-radius: 4px;
  border: 2px solid #2196f2;
  background-color: #2196f2;
  color: #ffffff;
}

.button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon-button {
  margin-left: 10px;
}

.button-comment {
  width: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  color: #ffffff;
  padding: 15px;
}

.button-comment::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}

.button-comment::-moz-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}

.button-comment:-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}

.button-comment::-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}

.button-comment::placeholder {
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  padding-left: 0;
}

.button-item:not(:first-child) {
  margin-left: 8px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(-- #212121);
  background-color: #f5f4f4;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list:hover,
.button-list:focus {
  color: #ffffff;
  background-color: #2196f2;
}

.name-portfolio {
  font-size: 18px;
  line-height: 2;
}

.text-portfolio-site {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
}

.conteiner-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.portfolio:nth-child(3n) {
  margin-right: 0;
}

.portfolio:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.name-portfolio {
  margin-bottom: 4px;
}

.card {
  outline: 1px solid #f5f4f4;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 24px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  background-size: contain;
}

.text-card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
  line-height: 1.3333333333;
  background-color: rgba(33, 150, 243, 0.9);
  color: #f5f5f5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .text-card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  outline: none;
}

.portfolio:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*COMPONENTS*//*# sourceMappingURL=main.css.map */