.about-advances {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    }
.conteiner-about {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
        
    }
.conteiner-about .i-tem + .i-tem {

    margin-left: 30px;
    }



.advances-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: $rgba-tean-color;
    margin-bottom: 30px;
}

   
.about-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    color: $second-text-color
}



.about-icons {
    display: flex;
    
}

.visually-hidden-icons {
    padding: 25px 100px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-items: center;

    background-color: $rgba-tean-color;
    border-radius: 4px;
    
}
.visually-hidden-icons:last-child {
    margin-right: 0;

}