

.hero {
    display: flex;
    text-align: center;
    justify-content: center;
    
    align-items: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-color: $background-color;
    background-image: linear-gradient($rgba-hero
    $rgba-hero),
    url("../../img/Img.png");
   
    &__title {
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: $second-background-color;
        text-transform: uppercase;
       
    }
    &__button {
        padding: 10px 32px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        color: $second-background-color;
        background-color: $accent-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    
    }
    
    &__button:hover, 
    &__button:focus {
        color: $primary-wtite-color; 
    }
}



