.about-icons {
    display: flex;
    
}

.visually-hidden-icons {
    padding: 25px 100px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-items: center;

    background-color: $rgba-tean-color;
    border-radius: 4px;
    
}
.visually-hidden-icons:last-child {
    margin-right: 0;

}
input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none ;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}